.bounce {
    animation: bounce 0.5s infinite alternate ease-out;
}

.head {
    animation-delay: 0.1s;
}

.hands {
    animation-delay: 0.2s;
}


@keyframes bounce {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-10px);
    }
}